@use "../../globals/global.scss" as u;
@use "../../globals/breakpoints.scss" as y;

nav{

  display: flex;
  justify-content: space-between;
  padding: 1.875rem 2.5rem;
  align-items: center;
    
  img {
    
    width: 40%;
    
  }

  button {
    color: u.$light-pink;
    border: 1px solid u.$light-pink;
    background: none;
    padding: 0.375rem 1.25rem;
    border-radius: 20px;
    
  }
    
}